@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header section style  */
.header-container{
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}


/* nav section style */
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.7rem;
    text-align: center;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner section style  */

.banner{
    /* text-align: center; */
    margin-top: 100px;
    
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-describe{
    margin-top: 25px;
    color: #727272;
}

.btn{
    margin: 30px;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
}
.banner img{
    width: 100%;
}

/* main section style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section style  */
.teams-container{
    margin-top: 80px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.teams-content{
    padding-left: 70px;
}
.quick-style{
    color: #727272;
    font-size: 2.7rem;
    font-weight: 500;
}
.of-our-style{
    font-size: 2.7rem;
    font-weight: 700;
    color: #131313;
}
.feature-style{
    font-size: 2.7rem;
    font-weight: 700;
    color: #FF900E;
}
.teams-describe{
    margin-top: 10px;
    color: #727272;
}
.btn-teams{
    margin-left: 0;
}

/* feature section style  */
.features-container{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
/* .features-content{
    margin-right: 100px;
} */
.features-title{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
}
.features-describe{
    margin-top: 10px;
    color: #727272;
    margin-bottom: 20px;
    /* width: 586px; */
}
.feature-cards{
    /* width: 586px; */
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.features-cards-describe{
    color: #727272;
    padding-top: 10px;
}
.features-img img{
    height: 80%;
    margin-left: 80px;
}
.experience{
    padding: 40px;
    width: 342px;
    color: white;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    position: relative;
    top: -100px
}
.experience h2{
    /* margin: 0 auto; */
    font-weight: 700;
    font-size: 3rem;
    
}
.experience p{
    font-weight: 500;
    font-size: 1.5rem;
}

/* facts section style  */
.facts-state{
    display: flex;
    justify-content: space-around;
}
.achive{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sponsor-container{
    text-align: center;
    margin-bottom: 100px;
}
.sponsor-content{
    margin-bottom: 50px;
}
.sponsor-company{
    display: flex;
    justify-content: space-between;

}











/* responsive media query */
/* for mobile device */
@media screen and (max-width: 576px) {
    .nav-content,
    .features-container,
    .facts-state,
    .sponsor-company
    {
        flex-direction: column;
    }
    nav > ul{
        padding-top: 10px;
    }
    .header-container{
        padding: 5px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .teams-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-container{
        flex-direction: column;
        margin-left: 5px;
    }
    .teams-content{
        padding-left: 25px;
    }
    .features-content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .features-img img{
        display: none;
    }
    .experience{
        width: 300px;
    }
    .achive{
        margin: 10px;
    }
    .facts-content{
        margin-left: 15px;
        margin-right: 10px;
    }
    .sponsor-company{
        align-items: center;
    }
    .sponsor-company img{
        width: 45%;
    }
}
/* for tablet device */
@media screen and (min-width: 577px) and (max-width:992px) {
    .nav-content,
    .features-container
    {
        flex-direction: column;
    }
    nav > ul{
        padding-top: 20px;
    }
    .header-container{
        padding: 20px;
    }
    .banner-title{
        font-size: 3rem;
    }
    .teams-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .teams-container{
        flex-direction: column;
        margin-left: 30px;
    }
    .teams-content{
        padding-left: 50px;
    }
    .features-content{
        margin-left: 10px;
    }
    .features-img img{
        display: none;
    }
    .experience{
        margin-left: 220px;
    }
    .achive{
        margin: 10px;
    }
    .sponsor-container{
        margin-top: 50px;
    }
}