@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header section style  */
.header-container{
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.7rem;
    text-align: center;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
.banner{
    /* text-align: center; */
    margin-top: 100px;
    
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-describe{
    margin-top: 25px;
    color: #727272;
}

.btn{
    margin: 30px;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
}
.banner img{
    width: 100%;
}

/* responsive media query */
/* for mobile device */
@media screen and (max-width: 576px) {
    .nav-content{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 10px;
    }
    .header-container{
        padding: 5px;
    }
    .banner-title{
        font-size: 2rem;
    }
}
/* for tablet device */
@media screen and (min-width: 577px) and (max-width:992px) {
    .nav-content{
        flex-direction: column;
    }
    nav > ul{
        padding-top: 20px;
    }
    .header-container{
        padding: 20px;
    }
    .banner-title{
        font-size: 3rem;
    }
}